# Clojure/Leiningen
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
/.clj-kondo

# Python
/venv
/.venv
__pycache__/
*.pyc
*.pyo
*.egg-info/

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# OS
.DS_Store
Thumbs.db
